<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="front-layout-inner-vendor-page">
    <div layout:fragment = "main_content">
        
        <div> <h4 class=" textMaroon"> Instructor <small>Home>Dashboards</small></h4>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">

                <div class="card borderColor">
                    <div class="card-header bgMaroon text-white ">
                        <div class="row">  <div class="col-sm-5 font-weight-bold "><i class="fas fa-list"></i> Welcome   </div>
                            <div class="col-sm-7 "> <span class="float-right">Your Total Earning: <b>10,000/-</b></span></div>
                        </div>
                    </div>
                    <div class="card-body">

                        
                        </div>

                    </div><!--  Card body end-->


                </div><!--  Card  end-->




    </div>
    </div></div>