<div class=" d-block d-sm-none p-1">
    <div class="d-flex flex-wrap">
        <div class="p-1"><a  class="btn btn-outline-danger btn-sm" th:href="@{/customer/}">Home</a></div>
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/customerprofileimage/index}"> <span class="fa-li"><i class="fas fa-wallet"></i>
                </span>Profile Image</a></div>
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/customerblog/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Blog</a></div>
        <div class="p-1"><a ctype="button" class="btn btn-outline-danger btn-sm" th:href="@{/customerexamcomment/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Comments</a></div>
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/customerrate/index}"> <span class="fa-li"><i class="fas fa-wallet"></i> </span>Rate</a></div>
        <!--            <li class="list-group-item"><a class="textMaroon" th:href="@{/customer}"> <span class="fa-li"><i class="far fa-heart"></i> </span>Wishlist</a></li>-->
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/customer-order/index}"> <span class="fa-li"><i class="fas fa-cart-plus"></i></span>Your Orders</a></div>
        <div class="p-1"><a type="button" class="btn btn-outline-danger btn-sm" th:href="@{/student-exam/index}"> <span class="fa-li"><i class="fas fa-list"></i></span>Your Exam List</a></div>
    </div>  
</div>

