<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="admin-layout">
    <div layout:fragment = "main_content">

        <div> <h4> Rate  <small> Home > Rate > Add</small></h4>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">  <div class="col-sm-5 font-weight-bold text-danger"><i class="fas fa-list"></i> Rate </div>
                            <div class="col-sm-7 "> <a class="btn btn-danger btn-sm float-right" th:href="@{/rate/index}">Close</a></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/rate/save/{examid}(examid=${rate.exam.id})}" th:object="${rate}" enctype="multipart/form-data" method="post" >

                            <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-ban"></i> Error </h4>
                                <ul th:if="${#fields.hasErrors('*')}">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </div>

                            <div class="row" th:if="${!#strings.isEmpty(success)}"> 
                                <span  class="text-success"th:text="success"> </span>
                            </div> 

                            <div class="row">

                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <input type="hidden" class="form-control"  th:field="*{id}" />
                                        <input type="hidden" class="form-control"  th:field="*{userId}" />
                                        <input type="hidden" class="form-control"  th:field="*{exam}" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Rate <span class="text-danger"> *</span></label>
                                        <select id="inputState" class="form-control col-sm-3"  th:field="*{ratenumber}">
                                            <option   value="5">Excelent </option>
                                            <option   value="4">Very Good</option>
                                            <option   value="3">Good</option>
                                            <option   value="2">Average </option>
                                            <option   value="1">Poor</option>
                                        </select>
                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('ratenumber')}" th:errors="*{ratenumber}">Book Name</span>
                                    </div>

                                </div>


                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div></div>