<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="front-layout-inner-vendor-page">
    <div layout:fragment = "main_content">
        <section class=" d-none d-sm-block">
            <div class="row">

                <div class="col-sm-3">

                    <div   th:replace="vendor-left-menu">
                        Left side column. contains the sidebar 

                        Left Side 
                        =============================================== 
                    </div>
                </div>
                <div class="col-sm-9">

                    <div class="card">
                        <div class="card-header">
                            <div class="row">  <div class="col-sm-5 font-weight-bold text-danger"><i class="fas fa-list"></i> Answer List </div>
                                <div class="col-sm-7 "> 

                                    <!--                                <span th:if="${qinfo.answer.size()<4}">
                                                                        <a class="btn btn-success btn-sm float-right" th:href="@{/instructor-answer/create/{qid}(qid=${qinfo.id})}"> Add Answer</a>
                                                                    </span>-->
                                    <a class="btn btn-danger btn-sm float-right" th:href="@{/instructor-exam/question-by-exam/{examid}(examid=${qinfo.exam.id})}">Close</a>

                                </div>

                            </div>
                        </div>
                        <div class="card-body">

                            <span th:if="${ not #strings.isEmpty(message)}">

                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <span th:text="${message}" > </span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </span>
                            <h5>    Question No :<span th:text="${qinfo.questionno}"></span></h5>
                            <h5>    Question Title :<span th:text="${qinfo.title}"></span></h5>

                            <div class="row">
                                <div class="col-sm-12 mb-5">
                                    <form th:action="@{/instructor-answer/save/{qid}(qid=${qinfo.id})}" th:object="${answer}" enctype="multipart/form-data" method="post" >

                                        <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h4><i class="icon fa fa-ban"></i> Error </h4>
                                            <ul th:if="${#fields.hasErrors('*')}">
                                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                            </ul>
                                        </div>
                                        <div class="row" th:if="${!#strings.isEmpty(success)}"> 
                                            <span  class="text-success"th:text="success"> </span>
                                        </div> 
                                        <div class="form-group">
                                            <input type="hidden" class="form-control"  th:field="*{id}" />

                                            <input type="hidden" class="form-control"  th:field="*{question}" />

                                            <input type="hidden" class="form-control"  th:field="*{answerno}" />

                                            <input type="hidden" class="form-control"  th:field="*{questionno}" />

                                        </div>



                                        <div class="form-group">
                                            <label for="exampleInputEmail1"> Answer No :<span class="text-danger"> </span></label>
                                            <span  th:text="${answer.answerno}"</span>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1"> Answer :<span class="text-danger"> *</span></label>
                                            <input type="text"  minlength=" 2" required="true" class="form-control col-sm-5" th:field="*{title}" aria-describedby="emailHelp" placeholder="Enter Answer">
                                            <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Book Name</span>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mark:<span class="text-danger"> </span></label>
                                            <input type="number"  minlength=" 2" min="0" max="1" required="true" class="form-control col-sm-5" th:field="*{value}" aria-describedby="emailHelp" placeholder="Enter sub title">
                                            <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Book Name</span>
                                        </div>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </form>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Mark</th>
                                            <th scope="col">Title</th>   
                                            <th scope="col"> Delete </th>
                                            <th scope="col"> Created </th>                         
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="answerlists,status:${answerlist}">
                                            <th th:text="${status.count}">1</th>
                                            <td th:text="${answerlists.value}">Otto</td>
                                            <td> <a th:href="@{/instructor-answer/edit/{id}(id=${answerlists.id})}"> <span th:text="${answerlists.title}">    </span></a></td>
                                            <td>
                                                <a th:href="@{/instructor-answer/delete/{id}(id=${answerlists.id})}"> Delete </a>
                                            </td>
                                            <td th:text="${answerlists.created}">@mdo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div><!--  Card body end-->


                    </div><!--  Card  end-->
                </div>
        </section>

        <section class=" mobile d-block d-sm-none">


            <div th:replace="mobile-top-nav"></div>
            <div class="row mt-5"> </div>
            <div class="row mt-3"> </div> 
            <div th:replace="instructor_mobile_top_navigation"></div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">  <div class="col-sm-5 font-weight-bold text-danger"><i class="fas fa-list"></i> Answer List </div>
                                <div class="col-sm-7 "> 

                                    <!--                                <span th:if="${qinfo.answer.size()<4}">
                                                                        <a class="btn btn-success btn-sm float-right" th:href="@{/instructor-answer/create/{qid}(qid=${qinfo.id})}"> Add Answer</a>
                                                                    </span>-->
                                    <a class="btn btn-danger btn-sm float-right" th:href="@{/instructor-exam/question-by-exam/{examid}(examid=${qinfo.exam.id})}">Close</a>

                                </div>

                            </div>
                        </div>
                        <div class="card-body">

                            <span th:if="${ not #strings.isEmpty(message)}">

                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <span th:text="${message}" > </span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </span>
                            <h5>    Question No :<span th:text="${qinfo.questionno}"></span></h5>
                            <h5>    Question Title :<span th:text="${qinfo.title}"></span></h5>

                            <div class="row">
                                <div class="col-sm-12 mb-5">
                                    <form th:action="@{/instructor-answer/save/{qid}(qid=${qinfo.id})}" th:object="${answer}" enctype="multipart/form-data" method="post" >

                                        <div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                            <h4><i class="icon fa fa-ban"></i> Error </h4>
                                            <ul th:if="${#fields.hasErrors('*')}">
                                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                            </ul>
                                        </div>
                                        <div class="row" th:if="${!#strings.isEmpty(success)}"> 
                                            <span  class="text-success"th:text="success"> </span>
                                        </div> 
                                        <div class="form-group">
                                            <input type="hidden" class="form-control"  th:field="*{id}" />

                                            <input type="hidden" class="form-control"  th:field="*{question}" />

                                            <input type="hidden" class="form-control"  th:field="*{answerno}" />

                                            <input type="hidden" class="form-control"  th:field="*{questionno}" />

                                        </div>



                                        <div class="form-group">
                                            <label for="exampleInputEmail1"> Answer No :<span class="text-danger"> </span></label>
                                            <span  th:text="${answer.answerno}"</span>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1"> Answer :<span class="text-danger"> *</span></label>
                                            <input type="text"  minlength=" 2" required="true" class="form-control col-sm-5" th:field="*{title}" aria-describedby="emailHelp" placeholder="Enter Answer">
                                            <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Book Name</span>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mark:<span class="text-danger"> </span></label>
                                            <input type="number"  minlength=" 2" min="0" max="1" required="true" class="form-control col-sm-5" th:field="*{value}" aria-describedby="emailHelp" placeholder="Enter sub title">
                                            <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Book Name</span>
                                        </div>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </form>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Mark</th>
                                            <th scope="col">Title</th>   
                                            <th scope="col"> Delete </th>
                                            <th scope="col"> Created </th>                         
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="answerlists,status:${answerlist}">
                                            <th th:text="${status.count}">1</th>
                                            <td th:text="${answerlists.value}">Otto</td>
                                            <td> <a th:href="@{/instructor-answer/edit/{id}(id=${answerlists.id})}"> <span th:text="${answerlists.title}">    </span></a></td>
                                            <td>
                                                <a th:href="@{/instructor-answer/delete/{id}(id=${answerlists.id})}"> Delete </a>
                                            </td>
                                            <td th:text="${answerlists.created}">@mdo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div><!--  Card body end-->


                    </div><!--  Card  end-->

                </div>   <!--  Layout end-->
            </div>


            <section class="mb-5"></section>

            <div th:replace="bottom-nav">

                <!-- Header  -->

            </div>


        </section>  

    </div><!--  Main Content  end-->
</div>   <!--  Layout end-->