<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorator="front-layout-inner-page">
    <div layout:fragment = "main_content">


        <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #ffc107;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">  <h1 class="font-weight-bold" style="color: #fff;">    ABOUT US </h1></div>
                    <div class="col-sm-5 text-right" style="color: #ffffff">Home/About Us</div>
                </div>
            </div>
        </section>

        <section style="padding: 40px 0px 100px 0px">
            <div class="container">
                <div class="row">
                   <div class="col-sm-6 col-md-6 ">


                        <img class="img-fluid img-thumbnail "
                             th:src="@{/img/2018/11/seoul-336168_1920-1600x920-1024x589.jpg}"
                             style="max-width: 100%; height: auto;" width="640px" height="368px" />

                    </div> 
                    <div class="col-sm-6 col-md-6 ">

                        <div class="textwidget">
                            <p>Zunshayn Apparels is an agent / buying house specialized
                                in garment, textiles and accessories with offices in Philippine,
                                Dhaka (Bangladesh). Zunshayn Apparels was established to create
                                more transparency and reliability and with the confidence that,
                                once reliability can be provided regarding the required price
                                and quality standards, there are ample business opportunities in
                                Asia. We are confident of accomplishing our vision and can work
                                with a wide range of companies through our diverse array of
                                services.</p>

                            <p>We are able to provide and preserve our high service
                                levels owing to our highly educated and experienced European
                                management, good local organizational structure, and our
                                detailed knowledge of the local market and its possibilities.
                                Our service encompasses two major areas; the first is where we
                                operate as an agent for our clients, developing a tailor-made
                                service and guiding the client through the entire production
                                process from sourcing and ordering up to the correct shipment of
                                the goods. The second area is where we act as a trader, and as
                                such we operate as a direct manufacturer of all sorts of
                                garments and accessories.</p>

                            <p>As trade globalization gains pace, sourcing from distant
                                countries and new suppliers is a growing trend. Under these
                                conditions, monitoring the production process requires an
                                on-the-spot presence to reduce the risk of substandard quality,
                                discrepancies, shipment delays, and other deviations from
                                purchase order requirements.</p>

                            <p>Given our extensive knowledge of the European and Asian
                                markets, our services provide our clients with significant and
                                substantial added value.</p>
                            <p>We look forward to serving you.</p>
                            <p>&nbsp;</p>
                            <p>Sincerely,</p>
                            <h3>ZUNSHAYN APPARELS</h3>
                        </div>
                    </div>  
                </div>  


                <div class="row">
                    <div class="col-sm-12 col-md-12 mb-4">
                        <h1 class="text-center text-warning font-weight-bold">Our Team</h1>
                        <!--                        <div class=" row justify-content-center" style="padding: 20px 0px 80px 0px">
                                                    <div class="col-md-7 text-center"> Unify creative technology company providing key digital services. Focused on helping our clients to build a successful business on web and mobile.
                                                    </div>
                                                </div>-->
                    </div>

                    <div class="col-sm-3 col-md-3  mb-3">
                        <div class="card  border-warning">
                            <img th:src="@{/img/director/Dr.-Mahfuzul-Islam-Chairman.jpg}"/>
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Dr. Mahfuzul Islam</h5>
                                <p class="card-text ">Chairman</p>
                            </div>
                        </div>
                    </div> 

                    <div class="col-sm-3 col-md-3 mb-3">
                        <div class="card border-warning" >
                            <img th:src="@{/img/director/rabiul-islam.jpeg}"/>
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Rabiul Islam</h5>
                                <p class="card-text ">MD&CEO</p>
                            </div>
                        </div>
                    </div> 

                    <div class="col-sm-3 col-md-3 mb-3">
                        <div class="card border-warning" >
                            <img th:src="@{/img/director/Md.-Mobarak-Hossain-Director-1.jpg}"/>
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Md. Mobarak Hossain</h5>
                                <p class="card-text ">Director</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 mb-3">
                        <div class="card border-warning" >
                            <img th:src="@{/img/director/Md.-Mohsin-Hossain-Director-2.jpg}"/>
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Md. Mohsin Hossain</h5>
                                <p class="card-text ">Director</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-3 mb-3">
                        <div class="card border-warning" >
                            <img th:src="@{/img/director/Md.-Atiqur-Rahman-Director-3.jpg}"/>
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Md. Atiqur Rahman</h5>
                                <p class="card-text ">Director</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 mb-3">
                        <div class="card border-warning" >
                            <img th:src="@{/img/director/Anjuman-Ara-EtiIn-charge-Planning-Marketing.jpg}"/>
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Anjuman Ara (Eti)</h5>
                                <p class="card-text ">In-charge Planning &amp; Marketing</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 mb-3">
                        <div class="card border-warning">
                            <img th:src="@{/img/director/Anecita-Rafaeles-Country-Manager-Philippine.png}"/>
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">Anecita Rafaeles</h5>
                                <p class="card-text ">Country Manager  Philippine</p>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </section>
    </div>
</div>