<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="front-layout-inner-page">
    <div layout:fragment="main_content">
        <section class="d-none d-sm-block">

            <section  class="border-bottom" style="padding: 50px 0px 50px 0px;background-color: #992337;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8">  
                            <h3 class="font-weight-bold" style="color: #fff;">   <span th:text="${exam.title}"></span>  </h3>
                            <h5 class="font-weight-bold" style="color: #fff;">   <span th:utext="${exam.subtitle}"></span>  </h5>
                            <h6 class="text-white"> <b><i class="far fa-user"></i> Instructor :</b> <span th:text="${exam.userId.name}"></span><b> <i class="fas fa-user-graduate"></i> Test:</b> <span th:text="${exam.test.size()}"></span><b> <i class="far fa-money-bill-alt"></i> Price:</b> <span th:text="${exam.price}"></span>  <b> Total Q.</b> <span  th:text="${exam.question.size()}">    </span></h6>
                            <div>
                                <h6 class="font-weight-bold" style="color: #fff;">  We accept</h6>
                                <img  class="img-fluid  " th:src="@{/img/pay.png}"  />
                            </div>
                            <div class="text-white">
                                এই মডেল টেস্টটি দেওয়ার জন্য   Registration করুন ।
                                পূর্বে Registration করা থাকলে নতুন করে Registration করার দরকার নেই।
                                Buy Now বাটন এ ক্লিক করে শপিং কার্ট এ অ্যাড করুন।
                                উপরের কার্ট মেন্যুতে ক্লিক করে চেক আউট করুন।
                            </div>
                            <div>
                                <div class="sharethis-inline-share-buttons"></div>
                            </div>
                        </div>

                        <div class="col-sm-2">

                            <a type="button" class="btn btn-light btn-block text-danger" th:href="@{/}"><i class="far fa-heart"></i> Add Wishlist </a>

                            <form class=" mt-1 mb-1"  th:action="@{/cart/add}" method="post">

                                <input type="hidden"  name="product_id" th:value="${exam.id}">
                                <input type="hidden"  name="quantity" value="1">

                                <button type="submit" class="btn btn-danger btn-block" > 

                                    <i class="fas fa-cart-plus"></i> Buy Now </button>
                            </form>
                            <a type="button" class="btn btn-primary btn-block text-white" th:href="@{/customerexamcomment/create/{examid}(examid=${exam.id})}"><i class="far fa-comments"></i> Add Comments </a>
                            <a type="button" class="btn btn-light btn-block text-danger" th:href="@{/customerrate/create/{examid}(examid=${exam.id})}"><i class="fas fa-star-half-alt"></i> Add Rate</a>
                        </div>
                        </section>

                        <section>
                            <div class="container-fluid mt-5">
                                <div class="row">

                                    <div class="col-sm-8">
                                        <div class="row">        

                                            <div class="col-sm-12" th:if="${not #sets.isEmpty(exam.productsubcategory)}">
                                                <div class="card mb-4 " >
                                                    <div class="card-header bgMaroon">
                                                        <h6 class=" text-white">
                                                            <i class="fas fa-list"></i> Exam Category</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item" th:each="productsubcategorylist : ${exam.productsubcategory}">
                                                                <a    class="text-muted" th:href="@{/front-view/exam-by-sub-category/{subcatid}(subcatid=${productsubcategorylist.id})}" th:text="${productsubcategorylist.name}"> </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>               </div> 
                                            <div class="col-sm-12" th:if="${not #strings.isEmpty(exam.description)}">
                                                <div class="card mb-4 ">

                                                    <div class="card-header bgMaroon">
                                                        <h6 class=" text-white"> <i class="fas fa-list"></i> Exam Description</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">

                                                            <span th:utext="${exam.description}"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>       
                                            <div class="col-sm-12" >
                                                <div class="card mb-4 border-danger" th:if="${not #strings.isEmpty(exam.syllabus)}">

                                                    <div class="card-header bgMaroon">
                                                        <h6 class="font-weight-bold text-white"> <i class="fas fa-list"></i> Exam Syllabus</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <span th:utext="${exam.syllabus}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="card mb-4 border-danger">

                                                    <div class="card-header bgMaroon">
                                                        <h6 class=" text-white"> <i class="fas fa-list"></i> Instructor Profile </h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">

                                                            <div class="media">

                                                                <span th:if="${#strings.isEmpty(exam.userId.profileImage)}" > 
                                                                    <i class="fas fa-user-tie fa-7x"></i>
                                                                </span>  
                                                                <span th:if="${ not #strings.isEmpty(exam.userId.profileImage)}" class="badge bg-green pull-right"> 
                                                                    <img  class="mr-3 rounded-circle border border-secondary" th:src="@{/files/}+${exam.userId.profileImage.imageName}" width="100px"  height="100px"/>
                                                                </span>

                                                                <div class="media-body ml-3">

                                                                    <h6 class="mt-0">
                                                                        Name :  <a   class=" text-muted"  th:href="@{/front-view/instructor-details/{iid}(iid=${exam.userId.id})}"  > 
                                                                            <span th:text="${exam.userId.name}"></span>
                                                                        </a> 
                                                                    </h6>

                                                                    <h6>
                                                                        <span th:if="${#strings.isEmpty(exam.userId.vendorprofile)}" > 
                                                                            Designation : 
                                                                        </span>

                                                                        <span th:if="${not #strings.isEmpty(exam.userId.vendorprofile)}" > 
                                                                            Designation : <span th:text="${exam.userId.vendorprofile.designation}"></span>
                                                                        </span>

                                                                    </h6>

                                                                    <p>
                                                                        <span th:if="${#strings.isEmpty(exam.userId.vendorprofile)}" > 
                                                                            Profile : 
                                                                        </span>

                                                                        <span th:if="${not #strings.isEmpty(exam.userId.vendorprofile)}" > 
                                                                            Profile : <span th:utext="${exam.userId.vendorprofile.description}"></span>
                                                                        </span>
                                                                    </p>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div></div>
                                    <div class="col-sm-4">
                                        <div class="card mb-4 border-danger">

                                            <div class="card-header bgMaroon">
                                                <h6 class=" text-white"> <i class="fas fa-list"></i> Recent Model Test</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">

                                                    <div class="media">


                                                        <div class="media-body">



                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </section>
                        </section>


                        <section class=" mobile d-block d-sm-none">
                            <div th:replace="mobile-top-nav"></div>

                            <div class="row mt-5"> </div>
                            
                            <section  class="border-bottom" style=" padding: 0px 0px 10px 0px; background-color: #992337;">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">  
                                            <h3 class="font-weight-bold" style="color: #fff;">   <span th:text="${exam.title}"></span>  </h3>
                                            <h5 class="font-weight-bold" style="color: #fff;">   <span th:utext="${exam.subtitle}"></span>  </h5>
                                            <h5 class="text-white"> <b><i class="far fa-user"></i> Instructor :</b> <span th:text="${exam.userId.name}"></span><b> <i class="fas fa-user-graduate"></i> Test:</b> <span th:text="${exam.test.size()}"></span><b> <i class="far fa-money-bill-alt"></i> Price:</b> <span th:text="${exam.price}"></span>  <b> Total Q.</b> <span  th:text="${exam.question.size()}">    </span></h5>
                                            <div>
                                                <h6 class="font-weight-bold" style="color: #fff;">  We accept</h6>
                                                <img  class="img-fluid  " th:src="@{/img/pay.png}"  />
                                            </div>
                                            <div class="text-white">
                                                এই মডেল টেস্টটি দেওয়ার জন্য   Registration করুন ।
                                                পূর্বে Registration করা থাকলে নতুন করে Registration করার দরকার নেই।
                                                Buy Now বাটন এ ক্লিক করে শপিং কার্ট এ অ্যাড করুন।
                                                উপরের কার্ট মেন্যুতে ক্লিক করে চেক আউট করুন।
                                            </div>
                                            <div>
                                                <div class="sharethis-inline-share-buttons"></div>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <a type="button" class="btn btn-light btn-block text-danger" th:href="@{/}"><i class="far fa-heart"></i> Add Wishlist </a>
                                        </div>

                                        <div class="col-6">

                                            <form class=" mt-1 mb-1"  th:action="@{/cart/add}" method="post">

                                                <input type="hidden"  name="product_id" th:value="${exam.id}">
                                                <input type="hidden"  name="quantity" value="1">

                                                <button type="submit" class="btn btn-danger btn-block" > 
                                                    <i class="fas fa-cart-plus"></i> Buy Now </button>
                                            </form>

                                        </div>

                                        <div class="col-6">
                                            <a type="button" class="btn btn-primary btn-block text-white" th:href="@{/customerexamcomment/create/{examid}(examid=${exam.id})}"><i class="far fa-comments"></i> Add Comments </a>
                                        </div>
                                        <div class="col-6">
                                            <a type="button" class="btn btn-light btn-block text-danger" th:href="@{/customerrate/create/{examid}(examid=${exam.id})}"><i class="fas fa-star-half-alt"></i> Add Rate</a>
                                        </div>
                                    </div> 
                                </div>
                            </section>

                            <section>
                                <div class="container-fluid mt-5">
                                    <div class="row">

                                        <div class="col-sm-8">
                                            <div class="row">        

                                                <div class="col-sm-12" th:if="${not #sets.isEmpty(exam.productsubcategory)}">
                                                    <div class="card mb-4 " >
                                                        <div class="card-header bgMaroon">
                                                            <h6 class=" text-white">
                                                                <i class="fas fa-list"></i> Exam Category</h6>
                                                        </div>
                                                        <div class="card-body">
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item" th:each="productsubcategorylist : ${exam.productsubcategory}">
                                                                    <a    class="text-muted" th:href="@{/front-view/exam-by-sub-category/{subcatid}(subcatid=${productsubcategorylist.id})}" th:text="${productsubcategorylist.name}"> </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>               </div> 
                                                <div class="col-sm-12" th:if="${not #strings.isEmpty(exam.description)}">
                                                    <div class="card mb-4 ">

                                                        <div class="card-header bgMaroon">
                                                            <h6 class=" text-white"> <i class="fas fa-list"></i> Exam Description</h6>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row">

                                                                <span th:utext="${exam.description}"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>       
                                                <div class="col-sm-12" >
                                                    <div class="card mb-4 border-danger" th:if="${not #strings.isEmpty(exam.syllabus)}">

                                                        <div class="card-header bgMaroon">
                                                            <h6 class="font-weight-bold text-white"> <i class="fas fa-list"></i> Exam Syllabus</h6>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <span th:utext="${exam.syllabus}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="card mb-4 border-danger">

                                                        <div class="card-header bgMaroon">
                                                            <h6 class=" text-white"> <i class="fas fa-list"></i> Instructor Profile </h6>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row">

                                                                <div class="media">

                                                                    <span th:if="${#strings.isEmpty(exam.userId.profileImage)}" > 
                                                                        <i class="fas fa-user-tie fa-7x"></i>
                                                                    </span>  
                                                                    <span th:if="${ not #strings.isEmpty(exam.userId.profileImage)}" class="badge bg-green pull-right"> 
                                                                        <img  class="mr-3 rounded-circle border border-secondary" th:src="@{/files/}+${exam.userId.profileImage.imageName}" width="100px"  height="100px"/>
                                                                    </span>

                                                                    <div class="media-body ml-3">

                                                                        <h6 class="mt-0">
                                                                            Name :  <a   class=" text-muted"  th:href="@{/front-view/instructor-details/{iid}(iid=${exam.userId.id})}"  > 
                                                                                <span th:text="${exam.userId.name}"></span>
                                                                            </a> 
                                                                        </h6>

                                                                        <h6>
                                                                            <span th:if="${#strings.isEmpty(exam.userId.vendorprofile)}" > 
                                                                                Designation : 
                                                                            </span>

                                                                            <span th:if="${not #strings.isEmpty(exam.userId.vendorprofile)}" > 
                                                                                Designation : <span th:text="${exam.userId.vendorprofile.designation}"></span>
                                                                            </span>

                                                                        </h6>

                                                                        <p>
                                                                            <span th:if="${#strings.isEmpty(exam.userId.vendorprofile)}" > 
                                                                                Profile : 
                                                                            </span>

                                                                            <span th:if="${not #strings.isEmpty(exam.userId.vendorprofile)}" > 
                                                                                Profile : <span th:utext="${exam.userId.vendorprofile.description}"></span>
                                                                            </span>
                                                                        </p>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div></div>
                                        <div class="col-sm-4">
                                            <div class="card mb-4 border-danger">

                                                <div class="card-header bgMaroon">
                                                    <h6 class=" text-white"> <i class="fas fa-list"></i> Recent Model Test</h6>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">

                                                        <div class="media">


                                                            <div class="media-body">



                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </section>
                            <section class="mb-5"></section>

                            <div th:replace="bottom-nav">

                                <!-- Header  -->

                            </div>

                        </section>
                    </div>
                </div>